force-app/main/default/flows/Account_After_Save_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Tax_Rates</name>
        <label>Has Tax Rates</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tax_Code_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tax_code_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaxRate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TaxCode1</name>
        <dataType>Number</dataType>
        <expression>IF(
    OR(
        TEXT({!$Record.Tax_Code_1__c}) = &quot;GST&quot;,
        TEXT({!$Record.Tax_Code_1__c}) = &quot;PST&quot;,
        TEXT({!$Record.Tax_Code_1__c}) = &quot;RST&quot;,
        TEXT({!$Record.Tax_Code_1__c}) = &quot;QST&quot;,
        TEXT({!$Record.Tax_Code_1__c}) = &quot;HST&quot;
    ),
    IF(
        {!$Record.BillingState} = TEXT({!GetTaxRate.Province__c}), 
        CASE(
            TEXT({!$Record.Tax_Code_1__c}),
            &quot;GST&quot;, {!GetTaxRate.GST__c},
            &quot;PST&quot;, {!GetTaxRate.PST__c},
            &quot;RST&quot;, {!GetTaxRate.RST__c},
            &quot;QST&quot;, {!GetTaxRate.QST__c},
            &quot;HST&quot;, {!GetTaxRate.HST__c},
            0
        ),
        0
    ),
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaxCode2</name>
        <dataType>Number</dataType>
        <expression>IF(
    OR(
        TEXT({!$Record.Tax_Code_2__c}) = &quot;GST&quot;,
        TEXT({!$Record.Tax_Code_2__c}) = &quot;PST&quot;,
        TEXT({!$Record.Tax_Code_2__c}) = &quot;RST&quot;,
        TEXT({!$Record.Tax_Code_2__c}) = &quot;QST&quot;,
        TEXT({!$Record.Tax_Code_2__c}) = &quot;HST&quot;
    ),
    IF(
        {!$Record.BillingState} = TEXT({!GetTaxRate.Province__c}),
        CASE(
            TEXT({!$Record.Tax_Code_2__c}),
            &quot;GST&quot;, {!GetTaxRate.GST__c},
            &quot;PST&quot;, {!GetTaxRate.PST__c},
            &quot;RST&quot;, {!GetTaxRate.RST__c},
            &quot;QST&quot;, {!GetTaxRate.QST__c},
            &quot;HST&quot;, {!GetTaxRate.HST__c},
            0
        ),
        0
    ),
    0
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Account] [After-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Account] [After-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTaxRate</name>
        <label>GetTaxRate</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTaxRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Province__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tax_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTaxRate</name>
        <label>UpdateTaxRate</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Tax_Code_1Percent__c</field>
            <value>
                <elementReference>TaxCode1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_2_Percent__c</field>
            <value>
                <elementReference>TaxCode2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Rate__c</field>
            <value>
                <elementReference>GetTaxRate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Tax_Rates</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
