force-app/main/default/flows/Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_the_counter</name>
        <label>Add to the counter</label>
        <locationX>178</locationX>
        <locationY>1363</locationY>
        <assignmentItems>
            <assignToReference>Var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CountOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>397</locationX>
        <locationY>1481</locationY>
        <assignmentItems>
            <assignToReference>Var_Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fx_OppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fx_OpportunityAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012DK000002HYXhYAO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.Original_CSSP_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.CSSP_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Opportunity.CSSP_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OppCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_how_many_opportunity_we_need_to_create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_how_many_opportunity_we_need_to_create</name>
        <label>Check for how many opportunity we need to create</label>
        <locationX>431</locationX>
        <locationY>1262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var_NumberofOpps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunties</targetReference>
            </connector>
            <label>Create Collection</label>
        </rules>
        <rules>
            <name>Create_more_Opportunties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Var_NumberofOpps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_the_counter</targetReference>
            </connector>
            <label>Create more Opportunties</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>430</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus_Not_Paid_Upfront</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Paid_Upfront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.One_time_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Order__r.TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAL Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_how_many_opportunity_we_need_to_create</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Arbutus - Not Paid Upfront</label>
        </rules>
        <rules>
            <name>Arbutus_Paid_Upfront</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Paid_Upfront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.One_time_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Order__r.TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAL Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Arbutus - Paid Upfront</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type_0</name>
        <label>Opportunity Record Type</label>
        <locationX>338</locationX>
        <locationY>620</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus West Agency Ltd.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAL Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrder</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Arbutus</label>
        </rules>
        <rules>
            <name>Fundamental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fundamental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Fundamental</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CountOpp</name>
        <dataType>Number</dataType>
        <expression>IF({!Var_Count}=1, 0,365)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fx_OppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.SBQQ__Opportunity__r.Name}+ &apos;-&apos; + &apos;Service Contract&apos; + &apos;-&apos; + TEXT({!Var_Count})</expression>
    </formulas>
    <formulas>
        <name>Fx_OpportunityAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(
  AND({!Var_Count} = 1, {!$Record.SBQQ__Order__r.Sum_of_Year_1__c} &gt; 0),
  {!$Record.SBQQ__Order__r.Sum_of_Year_1__c},
  IF(
    AND({!Var_Count} = 2, {!$Record.SBQQ__Order__r.Sum_of_Year_2__c} &gt; 0),
    {!$Record.SBQQ__Order__r.Sum_of_Year_2__c},
    IF(
      AND({!Var_Count} = 3, {!$Record.SBQQ__Order__r.Sum_of_Year_3__c} &gt; 0),
      {!$Record.SBQQ__Order__r.Sum_of_Year_3__c},
      IF(
        AND({!Var_Count} = 4, {!$Record.SBQQ__Order__r.Sum_of_Year_4__c} &gt; 0),
        {!$Record.SBQQ__Order__r.Sum_of_Year_4__c},
        IF(
          AND({!Var_Count} = 5, {!$Record.SBQQ__Order__r.Sum_of_Year_5__c} &gt; 0),
          {!$Record.SBQQ__Order__r.Sum_of_Year_5__c},
          ({!$Record.SBQQ__Opportunity__r.Amount} - {!$Record.SBQQ__Opportunity__r.One_Time_Amount__c}) / {!Var_NumberofOpps}
        )
      )
    )
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fx_VarCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Var_CloseDate},12)</expression>
    </formulas>
    <formulas>
        <name>PaidUpfrontOppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.SBQQ__Opportunity__r.Name}+ &apos;-&apos; + &apos;Service Contract&apos; + &apos;-&apos; + &apos;1&apos;</expression>
    </formulas>
    <formulas>
        <name>Var_NumberofOpps</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ContractTerm}/12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Contract] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contract] [After-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity1</name>
        <label>Create Opportunity</label>
        <locationX>169</locationX>
        <locationY>1119</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Sum_of_Renewable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSSP_Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaidUpfrontOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_CSSP_Opportunity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DK000002HYXhYAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Active Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunties</name>
        <label>Create Opportunties</label>
        <locationX>608</locationX>
        <locationY>1449</locationY>
        <inputReference>Var_OppCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>50</locationX>
        <locationY>848</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>634</locationX>
        <locationY>456</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DK000002GYmHYAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ContractID_on_Opportunity</name>
        <label>Update ContractID on Opportunity</label>
        <locationX>347</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Opportunity_Record_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContract</name>
        <label>UpdateContract</label>
        <locationX>200</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Order__c</field>
            <value>
                <elementReference>GetOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalForecast__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>220</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_ContractID_on_Opportunity</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.StartDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_OppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
