force-app/main/default/flows/Contract_Scheduled_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Talk_to_Customer_About_Reports</name>
        <label>Reminder to Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Reminder to Generate Invoices [Check if all Rentals are Returned]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Days7After</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Follow_upon_Service_Reports</name>
        <label>Talk to Customer About Reports</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Uninvoiced_Contract_Fundamental</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Talk to Customer About Reports</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Days7After</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Follow_up_with_SE_and_Customer_to_Confirm_Dates</name>
        <label>Follow up with SE and Customer to Confirm Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Uninvoiced_Contract_Fundamental</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow up with SE and Customer to Confirm Dates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Days7After</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Follow_upon_Service_Reports</name>
        <label>Follow upon Service Reports</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Uninvoiced_Contract_Fundamental</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow upon Service Reports</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Days7After</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Service_Scheduled_Date_Arbutus</name>
        <label>Service Scheduled Date [Arbutus]</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Uninvoiced_Contract_Fundamental</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_Weeks_Before_Confirm_Service_Scheduled_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Scheduled_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TwoWeeksBeforeServiceScheduledDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_up_with_SE_and_Customer_to_Confirm_Dates</targetReference>
            </connector>
            <label>2 Weeks Before [Confirm Service Scheduled Date]</label>
        </rules>
        <rules>
            <name>X2_Weeks_After_Follow_Up_On_Service_Reports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysAfterServiceScheduledDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Scheduled_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_upon_Service_Reports</targetReference>
            </connector>
            <label>2 Weeks After [Follow Up On Service Reports]</label>
        </rules>
        <rules>
            <name>X3_Weeks_After_Follow_Up_On_Service_Reports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysAfterServiceScheduledDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Scheduled_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Follow_upon_Service_Reports</targetReference>
            </connector>
            <label>3 Weeks After [Follow Up On Service Reports]</label>
        </rules>
    </decisions>
    <decisions>
        <name>Uninvoiced_Contract_Fundamental</name>
        <label>Uninvoiced Contract [Fundamental]</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_Weeks_After_Follow_Up_On_Service_Reports_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysAfterServiceScheduledDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Scheduled_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Talk_to_Customer_About_Reports</targetReference>
            </connector>
            <label>3 Weeks After [Follow Up On Service Reports]</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Days7After</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>DaysAfterServiceScheduledDate</name>
        <dataType>Number</dataType>
        <expression>TODAY() - $Record.Service_Scheduled_Date__c</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TwoWeeksBeforeServiceScheduledDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Service_Scheduled_Date__c} = (TODAY() + 14)</expression>
    </formulas>
    <interviewLabel>[Contract] [Scheduled] - Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contract] [Scheduled] - Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Scheduled_Date_Arbutus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Scheduled_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-15</startDate>
            <startTime>10:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
