force-app/main/default/flows/Contract_Screen_Flow_Generate_Quickbooks_Invoice_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Cycle_Overage_To_Total</name>
        <label>Add Cycle Overage To Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalOverageAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Returned_Subscriptions.Overage_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_Skyvia_Reprocessing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_Net_Amount</name>
        <label>Add Quote Net Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalOverageAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Quote.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Subscription_Overage_Amount</name>
        <label>Add Subscription Overage Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalOverageAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Returned_Subscriptions.Overage_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_Skyvia_Reprocessing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cycle_Overage_Flag</name>
        <label>Set Cycle Overage Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasInvoicesCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle_Overage_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Invoices_Flag</name>
        <label>Set Has Invoices Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasInvoicesCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllSubscriptionsAlreadyInvoiced</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Standard_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Created_Flag</name>
        <label>Set Invoice Created Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRequestCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Invoice_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overage_Invoice_Flag</name>
        <label>Set Overage Invoice Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasInvoicesCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllSubscriptionsAlreadyInvoiced</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Standard_Overage_Invoice_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Current_Subscription_Status</name>
        <label>Store Current Subscription Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentSubscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Returned_Subscriptions.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Overage_Amount_Exists</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Asset_Lines_Validation</name>
        <label>Asset Lines Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Final_Decision_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assets to Process</defaultConnectorLabel>
        <rules>
            <name>Has_Assets_to_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Asset_Quote_Lines</targetReference>
            </connector>
            <label>Has_Assets_to_Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_Request_Created</name>
        <label>Check Invoice Request Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Store_Current_Subscription_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice Already Created</defaultConnectorLabel>
        <rules>
            <name>Create_Invoice_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceRequestCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoice_Created_Flag</targetReference>
            </connector>
            <label>Create Invoice Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Overage_Amount_Exists</name>
        <label>Check Overage Amount Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Subscription_Cycle_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Overage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Returned_Subscriptions.Overage_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Returned_Subscriptions.Overage_Amount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_28Day_Cycle_Status</targetReference>
            </connector>
            <label>Overage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Cycle_Status</name>
        <label>Check Quote Cycle Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Quote_Net_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Cycle_Already_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Returned_Subscriptions.X28_Days_Cycle_Invoiced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Quote</targetReference>
            </connector>
            <label>Quote Cycle Already Invoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_QuoteLine_Found</name>
        <label>Check QuoteLine Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Trigger_Skyvia_Reprocessing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip This Subscription</defaultConnectorLabel>
        <rules>
            <name>Process_This_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Quote_Line.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Invoice_Request_Created</targetReference>
            </connector>
            <label>Process This Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subscription_Cycle_Status</name>
        <label>Check Subscription Cycle Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Invoices_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subscription_Cycle_Already_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Returned_Subscriptions.X28_Days_Cycle_Invoiced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Skyvia_Reprocessing</targetReference>
            </connector>
            <label>Subscription Cycle Already Invoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Decision_Check</name>
        <label>Final Decision Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cycle_Payment_Complete_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Invoices Needed</defaultConnectorLabel>
        <rules>
            <name>Invoices_Were_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasInvoicesCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Quote</targetReference>
            </connector>
            <label>Invoices Were Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Invoices_Validation</name>
        <label>Related Invoices Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Related_Invoices_Stop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Are Related Invoices</defaultConnectorLabel>
        <rules>
            <name>No_Related_Invoices</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription</targetReference>
            </connector>
            <label>No Related Invoices</label>
        </rules>
    </decisions>
    <decisions>
        <name>Returned_Today_Subscriptions_Validation</name>
        <label>Returned Today Subscriptions Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Returned_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Returned_Subscriptions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Returned_Subs</targetReference>
            </connector>
            <label>No Returned Subscriptions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_28Day_Cycle_Status</name>
        <label>Validate 28Day Cycle Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Overage_Invoice_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Returned_Subscriptions.X28_Days_Cycle_Invoiced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cycle_Overage_Flag</targetReference>
            </connector>
            <label>Cycle Invoiced</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CycleOverageDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Overage for the: &quot; + {!Get_Subscription_Quote_Line.SBQQ__Description__c} + 
IF(NOT(ISBLANK({!CurrentSubscriptionStatus})), 
   &quot; | Status: &quot; + {!CurrentSubscriptionStatus}, 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.Related_Subscription_Return_Date__c})), 
   &quot; | Return Date: &quot; + {!Get_Subscription_Quote_Line.Related_Subscription_Return_Date__c}, 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.SBQQ__StartDate__c})), 
   &quot; | Start Date: &quot; + TEXT({!Get_Subscription_Quote_Line.SBQQ__StartDate__c}), 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.Expected_End_Date__c})), 
   &quot; | End Date: &quot; + TEXT({!Get_Subscription_Quote_Line.Expected_End_Date__c}), 
   &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>EnhancedStandardDescription</name>
        <dataType>String</dataType>
        <expression>{!Get_Subscription_Quote_Line.SBQQ__Description__c} + 
IF(NOT(ISBLANK({!CurrentSubscriptionStatus})), 
   &quot; | Status: &quot; + {!CurrentSubscriptionStatus}, 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.Related_Subscription_Return_Date__c})), 
   &quot; | Return Date: &quot; + {!Get_Subscription_Quote_Line.Related_Subscription_Return_Date__c}, 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.SBQQ__StartDate__c})), 
   &quot; | Start Date: &quot; + TEXT({!Get_Subscription_Quote_Line.SBQQ__StartDate__c}), 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.Expected_End_Date__c})), 
   &quot; | End Date: &quot; + TEXT({!Get_Subscription_Quote_Line.Expected_End_Date__c}), 
   &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OverageDescription</name>
        <dataType>String</dataType>
        <expression>{!Get_Subscription_Quote_Line.SBQQ__Description__c} + 
IF(NOT(ISBLANK({!CurrentSubscriptionStatus})), 
   &quot; | Status: &quot; + {!CurrentSubscriptionStatus}, 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.Related_Subscription_Return_Date__c})), 
   &quot; | Return Date: &quot; + {!Get_Subscription_Quote_Line.Related_Subscription_Return_Date__c}, 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.SBQQ__StartDate__c})), 
   &quot; | Start Date: &quot; + TEXT({!Get_Subscription_Quote_Line.SBQQ__StartDate__c}), 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Subscription_Quote_Line.Expected_End_Date__c})), 
   &quot; | End Date: &quot; + TEXT({!Get_Subscription_Quote_Line.Expected_End_Date__c}), 
   &quot;&quot;) + 
&quot; + Overage Amount of: $&quot; + TEXT(ROUND({!Loop_Through_Returned_Subscriptions.Overage_Amount__c}, 2))</expression>
    </formulas>
    <formulas>
        <name>TotalOverage</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Subscription_Quote_Line.SBQQ__NetTotal__c} + {!Loop_Through_Returned_Subscriptions.Overage_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Contract][Screen Flow] - Generate Quickbooks Invoice V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contract][Screen Flow] - Generate Quickbooks Invoice V2</label>
    <loops>
        <name>Loop_Through_Asset_Quote_Lines</name>
        <label>Loop Through Asset Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Asset_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Asset_Invoice_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Decision_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Returned_Subscriptions</name>
        <label>Loop Through Returned Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Subscription</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Subscription_Quote_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Asset_Invoice_Line</name>
        <label>Create Asset Invoice Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Asset_Quote_Line_as_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.SBQQ__NetTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Expected_End_Date__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Start_Date__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.SBQQ__Product__r.Subscription_Type_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Overage_Invoice_Item</name>
        <label>Create Cycle Overage Invoice Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Cycle_Overage_To_Total</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>CycleOverageDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_Through_Returned_Subscriptions.Overage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Start_Date__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__Product__r.Subscription_Type_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Invoice_Request</name>
        <label>Create Return Invoice Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_Current_Subscription_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>GetContract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>GetContract.SBQQ__Quote__r.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>GetContract.SBQQ__Quote__r.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetContract.SBQQ__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Invoice_Item</name>
        <label>Create Standard Invoice Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Skyvia_Reprocessing</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>EnhancedStandardDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__NetTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Start_Date__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__Product__r.Subscription_Type_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Overage_Invoice_Item</name>
        <label>Create Standard Overage Invoice Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Subscription_Overage_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>OverageDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>TotalOverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Start_Date__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Get_Subscription_Quote_Line.SBQQ__Product__r.Subscription_Type_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Quote_Lines</name>
        <label>Get Asset Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Lines_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Invoices_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote</name>
        <label>Get Related Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quote_Cycle_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__NetAmount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Returned_Today_Subscriptions_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Return_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Quote_Line</name>
        <label>Get Subscription Quote Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_QuoteLine_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Returned_Subscriptions.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_Skyvia_Reprocessing</name>
        <label>Trigger Skyvia Reprocessing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Returned_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Returned_Subscriptions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skyvia_Queue_Trigger__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Quote_Line_as_Invoiced</name>
        <label>Update Asset Quote Line as Invoiced</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Asset_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Asset_Quote_Lines.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OneTime_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quickbooks_Invoice_Path__c</field>
            <value>
                <stringValue>Invoice Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Quote</name>
        <label>Update Related Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContract.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overage_Net_Amount_Tax__c</field>
            <value>
                <elementReference>TotalOverageAmount</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Cycle_Payment_Complete_Screen</name>
        <label>Cycle Payment Complete Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cycle_Payment_Complete_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;All subscriptions were paid during the 28-day cycle — no invoice needed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Returned_Subs</name>
        <label>No Returned Subs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoReturnedSubsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;There are no &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Returned &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Subscriptions.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Invoices_Stop</name>
        <label>Related Invoices Stop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Related_Invoices_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 13);&quot;&gt;QuickBooks Invoice has already been requested.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReturnText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Quickbooks Invoice Creation Requested&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllSubscriptionsAlreadyInvoiced</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContractRelatedSubscriptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentSubscriptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasInvoicesCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceRequestCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalOverageAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
