force-app/main/default/flows/Invoice_Request_Line_Populate_Account_Terms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Terms_From_Contract_Account</name>
        <label>Set Terms From Contract Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTermCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Invoice_Request_Data.Contract__r.Account.Term_Codes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Terms_From_Subscription_Account</name>
        <label>Set Terms From Subscription Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTermCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Invoice_Request_Data.Subscription__r.SBQQ__Account__r.Term_Codes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Terms_To_Blank</name>
        <label>Set Terms To Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTermCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Invoice_Request_Found</name>
        <label>Check Invoice Request Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Request_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Which_Account_Has_Terms</targetReference>
            </connector>
            <label>Found Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Which_Account_Has_Terms</name>
        <label>Decision Which Account Has Terms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Terms_To_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Request_Data.Subscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Request_Data.Subscription__r.SBQQ__Account__r.Term_Codes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Terms_From_Subscription_Account</targetReference>
            </connector>
            <label>Subscription</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Request_Data.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Invoice_Request_Data.Contract__r.Account.Term_Codes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Terms_From_Contract_Account</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Invoice Request Line] - Populate Account Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Invoice Request Line] - Populate Account Terms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Invoice_Request_Data</name>
        <label>Get Related Invoice Request Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invoice_Request_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Related_Account_Term_Code__c</field>
            <value>
                <elementReference>varTermCodes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Invoice_Request_Data</targetReference>
        </connector>
        <filterFormula>NOT(ISNULL({!$Record.Invoice_Request__c}))</filterFormula>
        <object>Invoice_Request_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTermCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
