force-app/main/default/flows/Lead_Escalation_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>lead_escalation_after_72_hours</name>
        <label>lead escalation after 72 hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Lead.Lead_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_escalation_email_alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lead_escalation_email_to_fundamental_power</name>
        <label>lead escalation email to fundamental power</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Lead.Lead_Escalation_email_alert_fundamentals</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_Escalation_email_alert_fundamentals</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Time_and_Record_Type</name>
        <label>Time and Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus_72_hours</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>LeadAgeInDays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4320.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadAgeInDays</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4380.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus West Agency Ltd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Profile_Arbutus_Standard_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lead_escalation_after_72_hours</targetReference>
            </connector>
            <label>Arbutus 72 hours</label>
        </rules>
        <rules>
            <name>Fundamentals_24_hours</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>LeadAgeInDays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1440.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadAgeInDays</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamentals Power Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Profile_Fundamentals_Standard_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lead_escalation_email_to_fundamental_power</targetReference>
            </connector>
            <label>Fundamentals 24 hours</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadAgeInDays</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!$Record.CreatedDate}) * 24 * 60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead - Escalation - Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Escalation - Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_and_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EmailBouncedReason</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-31</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
