force-app/main/default/flows/Maintenance_Scheduled_Weekly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Maintenance_Record_Open_7_Days</name>
        <label>Maintenance Record Open 7+ Days</label>
        <locationX>853</locationX>
        <locationY>546</locationY>
        <actionName>Maintenance__c.Maintenance_Record_Open_7_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Maintenance_Record_Open_7_Days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Created_Date_7_Days</name>
        <label>Created Date &gt; 7 Days</label>
        <locationX>774</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedDayCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset__r.Product2.RecordType.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamental Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maintenance_Record_Open_7_Days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDayCount</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Maintenance] [Scheduled] - Weekly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Maintenance] [Scheduled] - Weekly</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Created_Date_7_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>Maintenance__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-01-27</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
