force-app/main/default/flows/Opportunity_Before_Save_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Pricebook</name>
        <label>Assign Pricebook</label>
        <locationX>230</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01sDK000003LBk6YAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook_0</name>
        <label>Assign Pricebook</label>
        <locationX>954</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01sDK000003LBkBYAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>217</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012DK000002GYmJYAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_0</name>
        <label>Assign Record Type</label>
        <locationX>880</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012DK000002GYmKYAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>155</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Type_0</name>
        <label>Assign Type</label>
        <locationX>918</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Type_0_0</name>
        <label>Assign Type</label>
        <locationX>576</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Lead_Source</name>
        <label>Lead Source</label>
        <locationX>567</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus West Agency Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Type</targetReference>
            </connector>
            <label>Arbutus</label>
        </rules>
        <rules>
            <name>Fundamentals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamentals Power Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Type_0</targetReference>
            </connector>
            <label>Fundamentals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>572</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus West Agency Ltd.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAL Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Arbutus</label>
        </rules>
        <rules>
            <name>Fundamental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamental Power Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Fundamental</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>569</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Biz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>New Biz</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_0</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Amend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_0_0</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RenewalName</name>
        <dataType>String</dataType>
        <expression>&quot;Contract: &quot; &amp; {!$Record.SBQQ__RenewedContract__r.ContractNumber} &amp; &quot; - Renewal Opportunity - &quot; &amp; {!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>[Opportunity] [Before-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] [Before-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>391</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
