force-app/main/default/flows/Opportunity_Set_Opportunity_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Zeros</name>
        <label>Assign Zeros</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_11</name>
        <label>Assignment 11</label>
        <locationX>2778</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varHighestInt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Opp_Integer_Fundamentals__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Zeros</name>
        <label>Assign Zeros4</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Zeros1</name>
        <label>Copy 1 of Assign Zeros1</label>
        <locationX>2954</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Copy_1_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Zeros2</name>
        <label>Copy 1 of Assign Zeros2</label>
        <locationX>2690</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Zeros3</name>
        <label>Assign Zeros2</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Zeros4</name>
        <label>Copy 1 of Assign Zeros4</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Zeros</name>
        <label>Assign Zeros3</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Zeros</name>
        <label>Copy 2 of Assign Zeros</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Zeros3</name>
        <label>Assign Zeros1</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assignment_11</name>
        <label>Copy 2 of Assignment 11</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varHighestInt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_1.Opp_Integer_Arbutus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Zeros3</name>
        <label>Copy 3 of Assign Zeros3</label>
        <locationX>2426</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varZeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Update_Records_1</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copy_1_of_Sort_by_Opp_Integer</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Copy 1 of Sort by Opp Integer</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Arbutus_Opps</collectionReference>
        <connector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Opp_Integer_Arbutus__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_by_Opp_Integer</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort by Opp Integer</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Fundamental_Opps</collectionReference>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Opp_Integer_Fundamentals__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Arbutus_or_Fundamental_Record</name>
        <label>Arbutus or Fundamental Record</label>
        <locationX>2294</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus_WestAgency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArbutusWestDistributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Arbutus_Opps</targetReference>
            </connector>
            <label>Arbutus</label>
        </rules>
        <rules>
            <name>Fundamental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamental_Power</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fundamental_Opps</targetReference>
            </connector>
            <label>Fundamental</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Number_of_Zeros</name>
        <label>Copy 2 of Number of Zeros</label>
        <locationX>2690</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_1_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Zeros</targetReference>
            </connector>
            <label>Copy 2 of 1 Digit</label>
        </rules>
        <rules>
            <name>Copy_2_of_2_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Zeros4</targetReference>
            </connector>
            <label>Copy 2 of 2 Digit</label>
        </rules>
        <rules>
            <name>Copy_2_of_3_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Zeros3</targetReference>
            </connector>
            <label>Copy 2 of 3 Digit</label>
        </rules>
        <rules>
            <name>Copy_2_of_4_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Zeros2</targetReference>
            </connector>
            <label>Copy 2 of 4 Digit</label>
        </rules>
        <rules>
            <name>Copy_2_of_5_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>99999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Zeros1</targetReference>
            </connector>
            <label>Copy 2 of 5 Digit</label>
        </rules>
        <rules>
            <name>No_zeros_fundamentals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>999999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Copy_1_of_Update_Records_1</targetReference>
            </connector>
            <label>No zeros fundamentals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Zeros</name>
        <label>Number of Zeros</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zeros</targetReference>
            </connector>
            <label>1 Digit</label>
        </rules>
        <rules>
            <name>X2_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Zeros</targetReference>
            </connector>
            <label>2 Digit</label>
        </rules>
        <rules>
            <name>X3_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Zeros</targetReference>
            </connector>
            <label>3 Digit</label>
        </rules>
        <rules>
            <name>X4_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Zeros3</targetReference>
            </connector>
            <label>4 Digit</label>
        </rules>
        <rules>
            <name>X5_Digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>99999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Zeros3</targetReference>
            </connector>
            <label>5 Digit</label>
        </rules>
        <rules>
            <name>No_Zeros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHighestInt</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>999999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Update_Records_1</targetReference>
            </connector>
            <label>No Zeros</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formAWLOppNumberText</name>
        <dataType>String</dataType>
        <expression>Right({!$Record.AWL_Opportunity_Number__c},6)</expression>
    </formulas>
    <formulas>
        <name>formAWLOppTextToNumber</name>
        <dataType>Number</dataType>
        <expression>value({!formAWLOppNumberText})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formFPSOppNumberText</name>
        <dataType>String</dataType>
        <expression>Right({!$Record.FPS_Opportunity_Number__c},6)</expression>
    </formulas>
    <formulas>
        <name>formFPSOppTextToNumber</name>
        <dataType>Number</dataType>
        <expression>Value({!formFPSOppNumberText})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formNewAWLNumber</name>
        <dataType>Number</dataType>
        <expression>{!formAWLOppTextToNumber} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formNewAWLText</name>
        <dataType>String</dataType>
        <expression>&quot;OPP- AWL-&quot; &amp; {!varZeros} &amp; text({!formNewAWLNumber})</expression>
    </formulas>
    <formulas>
        <name>formNewFPSNumber</name>
        <dataType>Number</dataType>
        <expression>{!formFPSOppTextToNumber} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formNewFPSNumberText</name>
        <dataType>String</dataType>
        <expression>text({!formNewFPSNumber})</expression>
    </formulas>
    <formulas>
        <name>formNewFPSText</name>
        <dataType>String</dataType>
        <expression>&quot;OPP- FPS-&quot; &amp; {!varZeros}</expression>
    </formulas>
    <formulas>
        <name>formTestIntPlus1</name>
        <dataType>Number</dataType>
        <expression>{!varHighestInt} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formTodayMinus60Days</name>
        <dataType>Date</dataType>
        <expression>Today() - 60</expression>
    </formulas>
    <interviewLabel>Opportunity - Set Opportunity Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Set Opportunity Number</label>
    <loops>
        <name>Copy_1_of_Loop_1</name>
        <label>Copy 1 of Loop 1</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Arbutus_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assignment_11</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_of_Zeros</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Fundamental_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_11</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Number_of_Zeros</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Arbutus_Opps</name>
        <label>Get Arbutus Opps</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Sort_by_Opp_Integer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formTodayMinus60Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fundamental_Opps</name>
        <label>Get Fundamental Opps</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_by_Opp_Integer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formTodayMinus60Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Records_1</name>
        <label>Copy 1 of Copy 1 of Update Records 1</label>
        <locationX>2162</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>FPS_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewFPSText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Fundamentals__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Records_1</name>
        <label>Copy 1 of Update Records 1</label>
        <locationX>1898</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>FPS_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewFPSText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Fundamentals__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_Records_1</name>
        <label>Copy 2 of Copy 1 of Update Records 1</label>
        <locationX>2426</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>FPS_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewFPSText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Fundamentals__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Records_1</name>
        <label>Copy 2 of Update Records 1</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>AWL_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewAWLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Arbutus__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Copy_1_of_Update_Records_1</name>
        <label>Copy 3 of Copy 1 of Update Records 1</label>
        <locationX>2690</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>FPS_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewFPSText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Fundamentals__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Records_1</name>
        <label>Copy 3 of Update Records 1</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>AWL_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewAWLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Arbutus__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Copy_1_of_Update_Records_1</name>
        <label>Copy 4 of Copy 1 of Update Records 1</label>
        <locationX>2954</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>FPS_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewFPSText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Fundamentals__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Records_1</name>
        <label>Copy 4 of Update Records 1</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>AWL_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewAWLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Arbutus__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Copy_1_of_Update_Records_1</name>
        <label>Copy 5 of Copy 1 of Update Records 1</label>
        <locationX>3218</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>FPS_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewFPSText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Fundamentals__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Records_1</name>
        <label>Copy 5 of Update Records 1</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>AWL_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewAWLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Arbutus__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_Records_1</name>
        <label>Copy 6 of Update Records 1</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>AWL_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewAWLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Arbutus__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>AWL_Opportunity_Number__c</field>
            <value>
                <elementReference>formNewAWLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Integer_Arbutus__c</field>
            <value>
                <elementReference>formTestIntPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Arbutus_or_Fundamental_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varHighestInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varHighestNumberedOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varHighOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varZeros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
