force-app/main/default/flows/Order_Scheduled_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Follow_Up_With_Manufacturer_on_Lead_Time</name>
        <label>Follow Up With Manufacturer on Lead Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow Up With Manufacturer on Lead Time</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Plus14Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Order_to_Next_Stage</name>
        <label>Update Order to Next Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Update Order to Next Stage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Plus14Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Week_After_Order_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Week1AfterCreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_to_Next_Stage</targetReference>
            </connector>
            <label>1 Week After Order Created</label>
        </rules>
        <rules>
            <name>X2_Weeks_Before_ESD_Tracking_Issued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Week2BeforeESD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_Up_With_Manufacturer_on_Lead_Time</targetReference>
            </connector>
            <label>2 Weeks Before ESD/Tracking Issued</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Plus14Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+14</expression>
    </formulas>
    <formulas>
        <name>Week1AfterCreatedDate</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() = (DATEVALUE($Record.CreatedDate) + 7)</expression>
    </formulas>
    <formulas>
        <name>Week2BeforeESD</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Estimated_Ship_Date_ESD__c} = ({!$Flow.CurrentDate} + 14)</expression>
    </formulas>
    <interviewLabel>[Order] [Scheduled] - Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Order] [Scheduled] - Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Creation</targetReference>
        </connector>
        <object>Order</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-08-15</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
