force-app/main/default/flows/Order_After_Save_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>657</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus West Agency Ltd.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAL Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields</targetReference>
            </connector>
            <label>Arbutus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Record_Type</name>
        <label>Update Record Type</label>
        <locationX>1013</locationX>
        <locationY>546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbutus West Agency Ltd.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Type_ID_West_Agency</targetReference>
            </connector>
            <label>Arbutus West</label>
        </rules>
        <rules>
            <name>Arbutus_Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWAL Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Type_ID_Distributor</targetReference>
            </connector>
            <label>Arbutus Distributor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Order] [After-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Order] [After-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update Address Info</label>
        <locationX>930</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>817</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>Update_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimated_Ship_Date_ESD__c</field>
            <value>
                <elementReference>$Record.Opportunity.Estimated_ship_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>$Record.Opportunity.Primary_Manufacturer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufactureres__c</field>
            <value>
                <elementReference>$Record.Opportunity.Manufacturer_reference_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Type_ID_Distributor</name>
        <label>Update Record Type ID Distributor</label>
        <locationX>1234</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DK000002GYmMYAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Type_ID_West_Agency</name>
        <label>Update Record Type ID West Agency</label>
        <locationX>1265</locationX>
        <locationY>407</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DK000002GYmLYAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
