force-app/main/default/flows/Quote_Before_Save_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_formula</name>
        <label>Assign the formula</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnddateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_end_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContracting_Method</name>
        <label>AssignContracting Method</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ContractingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_business_unit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_duration_date</name>
        <label>Check the End date</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Duration__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_formula</targetReference>
            </connector>
            <label>Is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_business_unit</name>
        <label>What business unit?</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arbutus_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Arbutusquotes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Arbutus West</label>
        </rules>
        <rules>
            <name>Fundamentals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FundamentalsName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_duration_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Fundamentals</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EnddateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__StartDate__c} + {!$Record.Duration__c}</expression>
    </formulas>
    <formulas>
        <name>Test</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__StartDate__c}+{!$Record.Duration__c}</expression>
    </formulas>
    <interviewLabel>[Quote] [Before-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] [Before-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Fields</name>
        <label>Copy 1 of Update Fields</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DK000002GYmPYAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingState__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingStreet__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SalesRep__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_end_date</name>
        <label>Update the end date</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>EnddateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignContracting_Method</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Arbutusquotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Arbutus Quotes</stringValue>
        </value>
    </variables>
    <variables>
        <name>FundamentalsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fundamental Quotes</stringValue>
        </value>
    </variables>
</Flow>
