force-app/main/default/flows/Quote_After_Save_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Address_Populated</name>
        <label>Address Populated?</label>
        <locationX>597</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Update_Address_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Address_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingStreet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ShippingStreet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuickQuote</name>
        <label>QuickQuoteFundamental</label>
        <locationX>768</locationX>
        <locationY>853</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fundamental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>766</locationX>
        <locationY>571</locationY>
        <defaultConnector>
            <targetReference>QuickQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Record_Type_ID</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amend_Record_Type_ID</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>QuickQuoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Quick Quote: &quot; &amp; $Record.Account_Name__c</expression>
    </formulas>
    <formulas>
        <name>WillCall</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.SBQQ__Account__r.Will_Call__c} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>[Quote] [After-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] [After-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>CreateOpportunity</label>
        <locationX>665</locationX>
        <locationY>989</locationY>
        <connector>
            <targetReference>UpdateQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuickQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sDK000003LBk6YAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012DK000002GYmKYAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Amend_Record_Type_ID</name>
        <label>Amend Record Type ID</label>
        <locationX>1115</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>QuickQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.SBQQ__Quote__r.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Renewal_Record_Type_ID</name>
        <label>Renewal Record Type ID</label>
        <locationX>300</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>QuickQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Fields</name>
        <label>Stamp Fields</label>
        <locationX>237</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Address_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Record_Type__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>975</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__BillingCity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingName__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Billing_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingState__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingStreet__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingName__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Shipping_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_1_Rate__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_1Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_2_Rate__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_2_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_Call__c</field>
            <value>
                <elementReference>WillCall</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address_0</name>
        <label>Update Address</label>
        <locationX>431</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Tax_Code_1GC__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_1_Rate__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_1Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_2GC__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_code_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_2_Rate__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_2_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>680</locationX>
        <locationY>1246</locationY>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>CreateOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <stringValue>01sDK000003LBk6YAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>729</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Stamp_Fields</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
