force-app/main/default/flows/Quote_Before_Save_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Greater_quantity_than_availability_error</name>
        <label>Greater quantity than availability error</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>InventoryErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One or more quote line has a quantity indicated greater than the available inventory.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X0_inventory_error_message</name>
        <label>0 inventory error message</label>
        <locationX>138</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>InventoryErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A quote line or more refers to the product with 0 inventory.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_error</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Inventory_error</name>
        <label>Inventory error</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <customErrorMessages>
            <errorMessage>{!InventoryErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_Added</name>
        <label>Account Added</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>WillCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Account_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>Outcome 1 of Account Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_quote_lines_on_inventory_availability</name>
        <label>Check quote lines on inventory availability</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_inventory_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Quote_Line.X0_Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Quote_Line.SBQQ__Product__r.Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X0_inventory_error_message</targetReference>
            </connector>
            <label>0 inventory available</label>
        </rules>
        <rules>
            <name>Quantity_Greater_than_Available_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Quote_Line.Quantity_Greater_than_Available_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Quote_Line.SBQQ__Product__r.Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greater_quantity_than_availability_error</targetReference>
            </connector>
            <label>Quantity Greater than Available Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_quote_lines</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>WillCall</name>
        <label>WillCall?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Will_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If the inventory for any of quote line on the quote is equal to 0, we need to prevent a contract from being generated (Status = Accepted)</description>
    <environments>Default</environments>
    <formulas>
        <name>WillCallFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.SBQQ__Account__r.Will_Call__c} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>[Quote] [Before-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] [After-Save] - On Update</label>
    <loops>
        <name>Iterate_Quote_Line</name>
        <label>Iterate Quote Line</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <collectionReference>Get_all_quote_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_quote_lines_on_inventory_availability</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_quote_lines</name>
        <label>Get all quote lines</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>WillCall</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__BillingCity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingName__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Billing_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingState__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingStreet__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingName__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Shipping_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_1_Rate__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_1Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Code_2_Rate__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Tax_Code_2_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_Call__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Will_Call__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <stringValue>ABBOTSFORD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingName__c</field>
            <value>
                <stringValue>ANSER POWER SOLUTIONS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <stringValue>V2T 6L5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <stringValue>British Columbia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <stringValue>31260 SOUTH FRASER WAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Added</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InventoryErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
