force-app/main/default/flows/Returned_Today_Subscriptions_to_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Each_SubscriptionId</name>
        <label>Assign Each SubscriptionId</label>
        <locationX>836</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>COntractRelatedSubscriptionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Each_SubscriptionId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_SubscriptionId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Subscriptions_Contract_Ids</name>
        <label>Assign Return Subscriptions Contract Ids</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>ReturnsubscriptionContractIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Returned_Subscriptions.SBQQ__Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Returned_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Contract_Subscription_Ids</name>
        <label>Clear Contract Subscription Ids</label>
        <locationX>748</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>COntractRelatedSubscriptionIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyStringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Contract_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Contract_Id</name>
        <label>Set Current Contract Id</label>
        <locationX>748</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CurrentContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Contract_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Contract_Subscription_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_One_Time</name>
        <label>Is One Time</label>
        <locationX>836</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Create_InvoiceRequestItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Line_Items.SBQQ__ProductSubscriptionType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One-time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_One_Time_InvoiceRequestItems</targetReference>
            </connector>
            <label>Not One Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Invoices_Validation</name>
        <label>Related Invoices Validation</label>
        <locationX>748</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Process_Each_Contract_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Are Related Invoices</defaultConnectorLabel>
        <rules>
            <name>No_Related_Invoices</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Invoices</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Opportunity</targetReference>
            </connector>
            <label>No Related Invoices</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Returned Today Subscriptions to Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Returned Today Subscriptions to Invoices</label>
    <loops>
        <name>Loop_All_Returned_Subscriptions</name>
        <label>Loop All Returned Subscriptions</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_All_Subscriptions_Returned_Today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Return_Subscriptions_Contract_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Related_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Each_SubscriptionId</name>
        <label>Loop Each SubscriptionId</label>
        <locationX>748</locationX>
        <locationY>1200</locationY>
        <collectionReference>Get_Current_Contract_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Each_SubscriptionId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Invoices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Quote_Line_Items</name>
        <label>Loop through Quote Line Items</label>
        <locationX>616</locationX>
        <locationY>2148</locationY>
        <collectionReference>Get_Related_QuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_One_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Each_Contract_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Each_Contract_Loop</name>
        <label>Process Each Contract Loop</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_All_Related_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Current_Contract_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_InvoiceRequestItems</name>
        <label>Create InvoiceRequestItems</label>
        <locationX>968</locationX>
        <locationY>2364</locationY>
        <connector>
            <targetReference>Update_QuoteLines_as_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__NetTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Time_InvoiceRequestItems</name>
        <label>Create One Time InvoiceRequestItems</label>
        <locationX>704</locationX>
        <locationY>2364</locationY>
        <connector>
            <targetReference>Update_QuoteLines_as_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__NetTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Invoice_Request</name>
        <label>Create Return Invoice Request</label>
        <locationX>616</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Process_Each_Contract_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Related_Quote.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Related_Quote.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Parent_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Related_Contracts</name>
        <label>Get All Related Contracts</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Each_Contract_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ReturnsubscriptionContractIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Return_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Subscriptions_Returned_Today</name>
        <label>Get All Subscriptions Returned Today</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Returned_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Return_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Today_Return_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contract_Subscriptions</name>
        <label>Get Current Contract Subscriptions</label>
        <locationX>748</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Each_SubscriptionId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Today_Return_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Return_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>616</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_Each_Contract_Loop.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Invoices</name>
        <label>Get Related Invoices</label>
        <locationX>748</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Invoices_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription__c</field>
            <operator>In</operator>
            <value>
                <elementReference>COntractRelatedSubscriptionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote</name>
        <label>Get Related Quote</label>
        <locationX>616</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_QuoteLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_QuoteLineItems</name>
        <label>Get Related QuoteLineItems</label>
        <locationX>616</locationX>
        <locationY>1932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Return_Invoice_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_Skyvia_Reprocessing</name>
        <label>Trigger Skyvia Reprocessing</label>
        <locationX>836</locationX>
        <locationY>2664</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>COntractRelatedSubscriptionIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skyvia_Queue_Trigger__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QuoteLines_as_Invoiced</name>
        <label>Update QuoteLines as Invoiced</label>
        <locationX>836</locationX>
        <locationY>2556</locationY>
        <connector>
            <targetReference>Trigger_Skyvia_Reprocessing</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OneTime_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Subscriptions_Returned_Today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-13</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>COntractRelatedSubscriptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyStringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnsubscriptionContractIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
