force-app/main/default/flows/Subscription_to_Quote_for_Invoice_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QuoteLine_to_Collection</name>
        <label>Add QuoteLine to Collection</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ActiveSubscriptionQuoteLineIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Active_Subscriptions.SBQQ__QuoteLine__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Subscriptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_Subscriptions_Exist</name>
        <label>Check Active Subscriptions Exist</label>
        <locationX>875</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Active Subscriptions</defaultConnectorLabel>
        <rules>
            <name>Active_Subscriptions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Active_Subscriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Subscriptions</targetReference>
            </connector>
            <label>Active Subscriptions Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Overage_Amount</name>
        <label>Check Overage Amount</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>No Overage</defaultConnectorLabel>
        <rules>
            <name>Has_Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overage_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Overage_InvoiceRequestItem</targetReference>
            </connector>
            <label>Has Overage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Processing_Mode</name>
        <label>Check Processing Mode</label>
        <locationX>556</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Create_Invoice_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Invoice</defaultConnectorLabel>
        <rules>
            <name>Today_Return_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnDateToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Return_Related_Quote</targetReference>
            </connector>
            <label>Today Return Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_One_Time</name>
        <label>Is One Time</label>
        <locationX>1150</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Create_InvoiceRequestItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Line_Items.SBQQ__ProductSubscriptionType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One-time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_One_Time_InvoiceRequestItems</targetReference>
            </connector>
            <label>Not One Time</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Get_Related_Quote.Name}, &quot;_v&quot;), 
    LEFT({!Get_Related_Quote.Name}, FIND(&quot;_v&quot;, {!Get_Related_Quote.Name}) - 1), 
    LEFT({!Get_Related_Quote.Name}, 250))</expression>
    </formulas>
    <formulas>
        <name>ReturnDateToday</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Return_Date__c} = TODAY()</expression>
    </formulas>
    <interviewLabel>Subscription to Quote for Invoice Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription to Quote for Invoice Processing</label>
    <loops>
        <name>Loop_Active_Subscriptions</name>
        <label>Loop Active Subscriptions</label>
        <locationX>556</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_Active_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_QuoteLine_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Quote_Line_Items</name>
        <label>Loop through Quote Line Items</label>
        <locationX>930</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_QuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_One_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_QuoteLines_as_Invoiced</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Request</name>
        <label>Create Invoice Request</label>
        <locationX>930</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Related_Quote.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Related_Quote.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Related_Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_InvoiceRequestItems</name>
        <label>Create InvoiceRequestItems</label>
        <locationX>1282</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Time_InvoiceRequestItems</name>
        <label>Create One Time InvoiceRequestItems</label>
        <locationX>1018</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Loop_through_Quote_Line_Items.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Overage_InvoiceRequestItem</name>
        <label>Create Overage InvoiceRequestItem</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Overage Charges</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>$Record.Overage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <stringValue>Overage</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Invoice_Request</name>
        <label>Create Return Invoice Request</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Check_Overage_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Return_Related_Quote.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Return_Related_Quote.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Return_Related_Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Active_Subscriptions</name>
        <label>Get All Active Subscriptions</label>
        <locationX>875</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Subscriptions_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Today_Return_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>556</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contract.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteLines</name>
        <label>Get QuoteLines</label>
        <locationX>556</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Processing_Mode</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3 AND 4)</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ActiveSubscriptionQuoteLineIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contract</name>
        <label>Get Related Contract</label>
        <locationX>875</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote</name>
        <label>Get Related Quote</label>
        <locationX>556</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Related_Quote</name>
        <label>Get Return Related Quote</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Return_Invoice_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QuoteLines_as_Invoiced</name>
        <label>Update QuoteLines as Invoiced</label>
        <locationX>930</locationX>
        <locationY>1979</locationY>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OneTime_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contract</targetReference>
        </connector>
        <filterFormula>({!$Record.Send_Invoice__c} = TRUE &amp;&amp; {!$Record__Prior.Send_Invoice__c} = FALSE) || 
({!$Record.Return_Date__c} = TODAY() &amp;&amp; (ISNULL({!$Record__Prior.Return_Date__c}) || {!$Record__Prior.Return_Date__c} &lt;&gt; TODAY()))</filterFormula>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ActiveSubscriptionQuoteLineIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
