force-app/main/default/flows/Subscription_After_Save_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RemoveHTML</name>
        <label>RemoveHTML</label>
        <locationX>1209</locationX>
        <locationY>650</locationY>
        <actionName>RemoveHTMLTags</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Tax_Amount_and_Send_Invoice_Value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richTextList</name>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__Description__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHTMLTags</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Product_Record_Type</name>
        <label>Product Record Type</label>
        <locationX>693</locationX>
        <locationY>903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fundamental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamental Products</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Quantity</targetReference>
            </connector>
            <label>Fundamental Inventory Out</label>
        </rules>
        <rules>
            <name>Fundamental_Inventory_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamental Products</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Product_Quantity</targetReference>
            </connector>
            <label>Fundamental Inventory In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quoteline_has_Description</name>
        <label>Quoteline has Description</label>
        <locationX>994</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Tax_Amount_and_Send_Invoice_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveHTML</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terminated_Date_Populated</name>
        <label>Terminated Date Populated</label>
        <locationX>936</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Quoteline_has_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__TerminatedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InventoryOutMinusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Product__r.Inventory_Out__c}-{!$Record.SBQQ__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InventoryOutPlusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Product__r.Inventory_Out__c}+{!$Record.SBQQ__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaxAmount</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.SBQQ__NetPrice__c} * 
({!$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Total_Tax_Rate__c} / 100)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalNetPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SBQQ__NetPrice__c}*{!$Record.SBQQ__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Subscription] [After-Save] - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Subscription] [After-Save] - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Product_Quantity</name>
        <label>Copy 1 of Update Product Quantity</label>
        <locationX>936</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Out__c</field>
            <value>
                <elementReference>InventoryOutMinusOne</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Total_Net_Price</name>
        <label>Total Net Price</label>
        <locationX>455</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Terminated_Date_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Net_Price__c</field>
            <value>
                <elementReference>TotalNetPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Quantity</name>
        <label>Update Product Quantity</label>
        <locationX>672</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Out__c</field>
            <value>
                <elementReference>InventoryOutPlusOne</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>733</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Quoteline_has_Description</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Amount_and_Send_Invoice_Value</name>
        <label>Update Tax Amount and Send Invoice Value</label>
        <locationX>936</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Update_the_quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>RemoveHTML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Charge__c</field>
            <value>
                <elementReference>TaxAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_quote</name>
        <label>Update the quote</label>
        <locationX>936</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Product_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Plaintext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>810</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Total_Net_Price</targetReference>
        </connector>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Plaintext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
