force-app/main/default/flows/Subscription_to_Quote_for_Invoice_Processing_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Quote_Id_and_Create_Invoice_Line</name>
        <label>Collect Quote Id and Create Invoice Line</label>
        <locationX>378</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>AllQuoteIdsFromSubscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Active_Subscription_Invoice_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cycle_Invoice_Created_Flag</name>
        <label>Set Cycle Invoice Created Flag</label>
        <locationX>246</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRequestCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle_Invoice_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Lines_Cycle_Validation</name>
        <label>Asset Lines Cycle Validation</label>
        <locationX>158</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Update_Contract_Subscriptions_As_Cycle_Invoiced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assets to Process</defaultConnectorLabel>
        <rules>
            <name>Has_Cycle_Assets_to_Process_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Multi_Quote_Asset_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Multi_Quote_Asset_Lines</targetReference>
            </connector>
            <label>Has_Cycle_Assets_to_Process_Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_Subscription_Quote_Line_Found</name>
        <label>Check Active Subscription Quote Line Found</label>
        <locationX>532</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Active_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip This Subscription</defaultConnectorLabel>
        <rules>
            <name>Process_This_Active_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Subscription_Quote_Line.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Cycle_Invoice_Request_Created</targetReference>
            </connector>
            <label>Process_This_Active_Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_Subscriptions_Exist</name>
        <label>Check Active Subscriptions Exist</label>
        <locationX>300</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Active Subscriptions</defaultConnectorLabel>
        <rules>
            <name>Active_Subscriptions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Active_Subscriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Subscriptions</targetReference>
            </connector>
            <label>Active Subscriptions Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cycle_Invoice_Request_Created</name>
        <label>Check Cycle Invoice Request Created</label>
        <locationX>378</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Collect_Quote_Id_and_Create_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice Already Created</defaultConnectorLabel>
        <rules>
            <name>Create_Cycle_Invoice_Request_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceRequestCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cycle_Invoice_Created_Flag</targetReference>
            </connector>
            <label>Create_Cycle_Invoice_Request_Path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedOverageAmount</name>
        <dataType>Currency</dataType>
        <expression>IF( {!CalculatedOverageDays} &gt; 0, 
    CASE( {!CalculatedOverageDays}, 
        1, {!$Record.Daily__c}, 
        2, {!$Record.Daily__c}, 
        3, {!$Record.Week_7_DAY__c}, 
        4, {!$Record.Week_7_DAY__c}, 
        5, {!$Record.Week_7_DAY__c}, 
        6, {!$Record.Week_7_DAY__c}, 
        7, {!$Record.Week_7_DAY__c}, 
        8, {!$Record.Week_7_DAY__c}, 
        9, {!$Record.Week_7_DAY__c} + ({!$Record.Week_7_DAY__c} / 5), 
        10, {!$Record.Week_7_DAY__c} + ({!$Record.Week_7_DAY__c} / 5) * 2,
        11, {!$Record.Week_7_DAY__c} + ({!$Record.Week_7_DAY__c} / 5) * 3,
        12, {!$Record.Week_7_DAY__c} + ({!$Record.Week_7_DAY__c} / 5) * 4,
        13, {!$Record.Week_7_DAY__c} * 2,
        14, {!$Record.Week_7_DAY__c} * 2,
        15, {!$Record.Week_7_DAY__c} * 2,
        16, ({!$Record.Week_7_DAY__c} * 2) + ({!$Record.Week_7_DAY__c} / 5),
        17, ({!$Record.Week_7_DAY__c} * 2) + ({!$Record.Week_7_DAY__c} / 5) * 2,
        18, ({!$Record.Week_7_DAY__c} * 2) + ({!$Record.Week_7_DAY__c} / 5) * 3,
        19, ({!$Record.Week_7_DAY__c} * 2) + ({!$Record.Week_7_DAY__c} / 5) * 4,
        20, {!$Record.Week_7_DAY__c} * 3,
        28, {!$Record.Week_7_DAY__c} * 3,
        30, {!$Record.Month_28_DAY__c} + ({!$Record.Month_28_DAY__c} / 20),
        NULL 
    ), 
    NULL 
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedOverageDays</name>
        <dataType>Number</dataType>
        <expression>MAX({!$Record.Return_Date__c} - {!$Record.Expected_End_Date__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Enhanced_Active_Subscription_Description</name>
        <dataType>String</dataType>
        <expression>{!Get_Active_Subscription_Quote_Line.SBQQ__Description__c} + 
IF(NOT(ISBLANK(TEXT({!Loop_Active_Subscriptions.Status__c}))), 
   &quot; | Status: &quot; + TEXT({!Loop_Active_Subscriptions.Status__c}), 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Loop_Active_Subscriptions.Return_Date__c})), 
   &quot; | Return Date: &quot; + TEXT({!Loop_Active_Subscriptions.Return_Date__c}), 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Active_Subscription_Quote_Line.SBQQ__StartDate__c})), 
   &quot; | Start Date: &quot; + TEXT({!Get_Active_Subscription_Quote_Line.SBQQ__StartDate__c}), 
   &quot;&quot;) +
IF(NOT(ISBLANK({!Get_Active_Subscription_Quote_Line.Expected_End_Date__c})), 
   &quot; | End Date: &quot; + TEXT({!Get_Active_Subscription_Quote_Line.Expected_End_Date__c}), 
   &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ReturnDateToday</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Return_Date__c} = TODAY()</expression>
    </formulas>
    <interviewLabel>Subscription to Quote for Invoice Processing v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription to Quote for Invoice Processing v2</label>
    <loops>
        <name>Loop_Active_Subscriptions</name>
        <label>Loop Active Subscriptions</label>
        <locationX>158</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_Active_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Active_Subscription_Quote_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Multi_Quote_Asset_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Multi_Quote_Asset_Lines</name>
        <label>Loop Multi Quote Asset Lines</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <collectionReference>Get_Multi_Quote_Asset_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Cycle_Asset_Invoice_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contract_Subscriptions_As_Cycle_Invoiced</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Active_Subscription_Invoice_Line</name>
        <label>Create Active Subscription Invoice Line</label>
        <locationX>378</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Loop_Active_Subscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Enhanced_Active_Subscription_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Cycle_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__NetTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Start_Date__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Asset_Invoice_Line</name>
        <label>Create Cycle Asset Invoice Line</label>
        <locationX>138</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Multi_Quote_Asset_Lines_as_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Cycle_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.SBQQ__NetTotal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook_Entry_Id__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Expected_End_Date__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine_Start_Date__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>Loop_Multi_Quote_Asset_Lines.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Invoice_Request</name>
        <label>Create Cycle Invoice Request</label>
        <locationX>246</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Collect_Quote_Id_and_Create_Invoice_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Active_Subscription_Quote_Line.SBQQ__Quote__r.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Subscription_Quote_Line</name>
        <label>Get Active Subscription Quote Line</label>
        <locationX>532</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Subscription_Quote_Line_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Active_Subscriptions.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Subscriptions</name>
        <label>Get All Active Subscriptions</label>
        <locationX>300</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Subscriptions_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Multi_Quote_Asset_Lines</name>
        <label>Get Multi Quote Asset Lines</label>
        <locationX>158</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Lines_Cycle_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AllQuoteIdsFromSubscriptions</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contract</name>
        <label>Get Related Contract</label>
        <locationX>300</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Subscriptions_As_Cycle_Invoiced</name>
        <label>Update Contract Subscriptions As Cycle Invoiced</label>
        <locationX>158</locationX>
        <locationY>2471</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__TerminatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>X28_Days_Cycle_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Multi_Quote_Asset_Lines_as_Invoiced</name>
        <label>Update Multi Quote Asset Lines as Invoiced</label>
        <locationX>138</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Loop_Multi_Quote_Asset_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AllQuoteIdsFromSubscriptions</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductSubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>OneTime_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OneTime_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>174</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contract</targetReference>
        </connector>
        <filterFormula>({!$Record.Send_Invoice__c} = TRUE &amp;&amp; {!$Record__Prior.Send_Invoice__c} = FALSE)</filterFormula>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>50</triggerOrder>
    <variables>
        <name>AllQuoteIdsFromSubscriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceRequestCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
