force-app/main/default/flows/Subscription_Scheduled_Billing_Cycle_Expected_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Expected_End_Date</name>
        <label>Expected End Date</label>
        <locationX>911</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TODAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expected_End_Date</targetReference>
            </connector>
            <label>TODAY</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExpectedEndDatePlus28</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Expected_End_Date__c}+28</expression>
    </formulas>
    <interviewLabel>[Subscription] [Scheduled] - Billing Cycle Expected End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Subscription] [Scheduled] - Billing Cycle Expected End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Expected_End_Date</name>
        <label>Update Expected End Date</label>
        <locationX>664</locationX>
        <locationY>540</locationY>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>ExpectedEndDatePlus28</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>792</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Expected_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Duration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>28.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Return_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-28</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
