force-app/main/default/flows/Subscription_Return_and_Overage_Invoice_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Overage_Amount</name>
        <label>Check Overage Amount</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Overage</defaultConnectorLabel>
        <rules>
            <name>Has_Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overage_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contract</targetReference>
            </connector>
            <label>Has Overage</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Invoices_Check_Overage_Amount</name>
        <label>No Invoices Check Overage Amount</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>No_Invoices_Create_Overage_InvoiceRequestItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Overage</defaultConnectorLabel>
        <rules>
            <name>No_Invoices_Has_Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overage_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Invoices_Overage_Create_Overage_InvoiceRequestItem</targetReference>
            </connector>
            <label>No Invoices Has Overage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Invoices_Validation</name>
        <label>Related Invoices Validation</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Overage_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Are Related Invoices</defaultConnectorLabel>
        <rules>
            <name>No_Related_Invoices</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Invoices.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Invoices.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Invoices_Get_Related_Contract</targetReference>
            </connector>
            <label>No Related Invoices</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NoInvoicesOverageDescription</name>
        <dataType>String</dataType>
        <expression>{!No_Invoices_Get_Related_QuoteLineItem.SBQQ__Description__c} + &quot; + Overage amount&quot;</expression>
    </formulas>
    <formulas>
        <name>NoInvoicesOveragePrice</name>
        <dataType>Currency</dataType>
        <expression>{!No_Invoices_Get_Related_QuoteLineItem.SBQQ__NetPrice__c} + {!$Record.Overage_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OverageDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Overage Charges for &quot; + {!Get_Related_QuoteLineItem.SBQQ__Description__c}</expression>
    </formulas>
    <interviewLabel>Subscription Return and Overage Invoice Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Return and Overage Invoice Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Overage_InvoiceRequestItem</name>
        <label>Create Overage InvoiceRequestItem</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Update_Subscription_Return_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>OverageDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>$Record.Overage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>Get_Related_QuoteLineItem.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <stringValue>Overage</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Invoice_Request</name>
        <label>Create Return Invoice Request</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Create_Overage_InvoiceRequestItem</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>Get_Related_Quote.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Related_Quote.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Parent_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>No_Invoices_Create_Overage_InvoiceRequestItem</name>
        <label>No Invoices Create Overage InvoiceRequestItem</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>No_Invoices_Update_Subscription_Return_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.SBQQ__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>No_Invoices_Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.SBQQ__NetPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>No_Invoices_Create_Return_Invoice_Request</name>
        <label>No Invoices Create Return Invoice Request</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>No_Invoices_Check_Overage_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_End_Date__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_Quote.Expected_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_Quote.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>No_Invoices_Get_Parent_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>No_Invoices_Overage_Create_Overage_InvoiceRequestItem</name>
        <label>No Invoices Overage Create Overage InvoiceRequestItem</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>No_Invoices_Update_Subscription_Return_Invoiced</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>NoInvoicesOverageDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Request__c</field>
            <value>
                <elementReference>No_Invoices_Create_Return_Invoice_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Price__c</field>
            <value>
                <elementReference>NoInvoicesOveragePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quote_Line_Product_Family_code__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.Product_Family_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Type__c</field>
            <value>
                <elementReference>No_Invoices_Get_Related_QuoteLineItem.SBQQ__Product__r.SBQQ__SubscriptionType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contract.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contract</name>
        <label>Get Related Contract</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Invoices</name>
        <label>Get Related Invoices</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Invoices_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote</name>
        <label>Get Related Quote</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_QuoteLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_QuoteLineItem</name>
        <label>Get Related QuoteLineItem</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Return_Invoice_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_Invoices_Get_Parent_Opportunity</name>
        <label>No Invoices Get Parent Opportunity</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Invoices_Get_Related_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_Invoices_Get_Related_Contract.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_Invoices_Get_Related_Contract</name>
        <label>No Invoices Get Related Contract</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Invoices_Get_Parent_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_Invoices_Get_Related_Quote</name>
        <label>No Invoices Get Related Quote</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Invoices_Get_Related_QuoteLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_Invoices_Get_Parent_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>No_Invoices_Get_Related_QuoteLineItem</name>
        <label>No Invoices Get Related QuoteLineItem</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Invoices_Create_Return_Invoice_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_Invoices_Get_Related_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>No_Invoices_Update_Subscription_Return_Invoiced</name>
        <label>No Invoices Update Subscription Return Invoiced</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Return_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription_Return_Invoiced</name>
        <label>Update Subscription Return Invoiced</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>Return_Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Invoices</targetReference>
        </connector>
        <filterFormula>({!$Record.Return_Date__c} = TODAY() &amp;&amp; (ISNULL({!$Record__Prior.Return_Date__c}) || {!$Record__Prior.Return_Date__c} &lt;&gt; TODAY()))</filterFormula>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>MultipleSubscriptionInvoiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionIdsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
